{{#extends 'base'}}

{{#block 'content'}}
<h1>Orders</h1>
<h5 class="mt-5">Pending Orders</h5>
<div class="w-100 overflow-auto p-3 shadow-lg rounded-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Ordered by</th>
                <th scope="col">Email</th>
                <th scope="col">Shipping Address</th>
                <th scope="col">Total Cost (SGD)</th>
                <th scope="col">Payment Ref.</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each pending}}
        <tbody>
            <tr>
                <td scope="row">{{this.order_id}}</td>
                <td scope="row">{{this.user.first_name}} {{this.user.last_name}}</td>
                <td scope="row">{{this.user.email}}</td>
                <td scope="row">
                    {{this.address.address_line_1}}<br>
                    {{#if this.address.address_line_2}}{{this.address.address_line_2}}<br>{{/if}}
                    {{this.address.country}}<br>
                    {{#if this.address.state}}{{this.address.state}}<br>{{/if}}
                    {{#if this.address.city}}{{this.address.city}}<br>{{/if}}
                    {{this.address.postal_code}}
                </td>
                <td scope="row">{{centsToDollars this.total_cost}}</td>
                <td scope="row">{{this.payment_ref}}</td>
                <td scope="row">{{convertIsoDate this.order_datetime}}</td>
                <td scope="row">{{this.status.status_name}}</td>
                <td scope="row">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary" href="/orders/{{this.order_id}}/items">Details/Update</a>
                        <a class="btn btn-danger" href="/orders/{{this.order_id}}/delete">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
<h5 class="mt-5">Completed Orders</h5>
<div class="w-100 overflow-auto p-3 shadow-lg rounded-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Ordered by</th>
                <th scope="col">Email</th>
                <th scope="col">Shipping Address</th>
                <th scope="col">Total Cost (SGD)</th>
                <th scope="col">Payment Ref.</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {{#each completed}}
        <tbody>
            <tr>
                <td scope="row">{{this.order_id}}</td>
                <td scope="row">{{this.user.first_name}} {{this.user.last_name}}</td>
                <td scope="row">{{this.user.email}}</td>
                <td scope="row">
                    {{this.address.address_line_1}}<br>
                    {{#if this.address.address_line_2}}{{this.address.address_line_2}}<br>{{/if}}
                    {{this.address.country}}<br>
                    {{#if this.address.state}}{{this.address.state}}<br>{{/if}}
                    {{#if this.address.city}}{{this.address.city}}<br>{{/if}}
                    {{this.address.postal_code}}
                </td>
                <td scope="row">{{centsToDollars this.total_cost}}</td>
                <td scope="row">{{this.payment_ref}}</td>
                <td scope="row">{{convertIsoDate this.order_datetime}}</td>
                <td scope="row">{{this.status.status_name}}</td>
                <td scope="row">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary" href="/orders/{{this.order_id}}/items">Details</a>
                    </div>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
{{/block}}

{{/extends}}