{{#extends 'base'}}

{{#block 'content'}}
<h1>Products</h1>
<div><img src="./images/carousel2.jpg" class="w-50"></div>
<a href='/products/create' class="btn btn-primary">Add New Product</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cost (SGD)</th>
            <th scope="col">Weight (kg)</th>
        </tr>
    </thead>
    {{#each products}}
    <tbody>
        <tr>
            <td scope="row">{{this.product_id}}</td>
            <td scope="row">{{this.product_name}}</td>
            <td scope="row">{{this.description}}</td>
            <td scope="row">{{centsToDollars this.cost}}</td>
            <td scope="row">{{gramsToKilograms this.weight}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>
{{/block}}

{{/extends}}