{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid">
    <div class="container content-container">
        <div class="h-100 p-3 d-flex flex-column justify-content-center">
            {{> flash}}
            <h3>Product</h3>
            <div class="w-100 overflow-auto p-3 shadow-lg rounded-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cost (SGD)</th>
                            <th scope="col">Weight (kg)</th>
                            <th scope="col">Material</th>
                            <th scope="col">Weave</th>
                            <th scope="col">Category</th>
                            <th scope="col">Brand</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">{{product.product_id}}</td>
                            <td scope="row">{{product.product_name}}</td>
                            <td scope="row">
                                <div class="overflow-auto" style="height: 20vh; width: 20vw">
                                    {{product.description}}
                                </div>
                            </td>
                            <td scope="row">{{centsToDollars product.cost}}</td>
                            <td scope="row">{{gramsToKilograms product.weight}}</td>
                            <td scope="row">{{product.material.material_name}}</td>
                            <td scope="row">{{product.weave.weave_name}}</td>
                            <td scope="row">{{product.category.category_name}}</td>
                            <td scope="row">{{product.brand.brand_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="custom-btn-group">
                <a class="btn btn-sm btn-dark btn-outline-light my-3"
                    href="/products/{{product.product_id}}/update">Update Product</a>
            </div>
            <h3>Product Variants</h3>
            <div class="w-100 overflow-auto p-3 shadow-lg rounded-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Color</th>
                            <th scope="col">Size</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Tags</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each variants}}
                        <tr>
                            <td scope="row" style="text-align: center">
                                <img src="{{this.product_thumbnail_url}}" />
                            </td>
                            <td scope="row">{{this.color.color_name}}</td>
                            <td scope="row">{{this.size.size_name}}</td>
                            <td scope="row">{{this.stock}}</td>
                            <td scope="row" style="width: 100px">
                                {{#each this.tags}}
                                <span class="badge bg-secondary">{{this.tag_name}}</span>
                                {{/each}}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-dark btn-outline-light"
                                        href="/products/{{this.product_id}}/variants/{{this.variant_id}}/update"><i
                                            class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-dark btn-outline-light"
                                        href="/products/{{this.product_id}}/variants/{{this.variant_id}}/delete"><i
                                            class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="custom-btn-group">
                <a class="btn btn-sm btn-dark btn-outline-light btn-sm" href="/products">Back to Products</a>
                <a class="btn btn-sm btn-dark btn-outline-light btn-sm"
                    href="/products/{{product.product_id}}/variants/create">Add
                    Variant</a>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{/extends}}